doctype html
html(lang="en")
	head
		title Title
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet" href="css/style.css")
		link(type="image/x-icon" href="favicon.ico" rel="shortcut icon")
	body
		include jade-includes/_conditional-comments.jade
		include jade-includes/_modal.jade



		include jade-includes/_header.jade
		include jade-includes/_content.jade
		include jade-includes/_footer.jade